@model JBrick.Contracts.Business.ICooperRatingModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CooperRatingModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeSpanFeet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeSpanFeet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BndFtKips)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BndFtKips)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CooperRatingEBnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CooperRatingEBnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShearKips)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShearKips)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CooperRatingEShear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CooperRatingEShear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorReactKips)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorReactKips)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CooperRatingEFloor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CooperRatingEFloor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
